---
import { TECHNOLOGIES } from '../../data/technologies.js';
import Tecnos_icons from "./Tecnos_icons.astro";
import Tecno_icon from "../../icons/Titulos/Tecno_icon.astro";
---

<div class="flex flex-col items-center">
  <h2 class="text-4xl font-bold pb-10 flex gap-x-3 items-center text-center mb-4">
    <Tecno_icon class="w-12 h-12" /> Tecnologías
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-1 gap-8 md:gap-12 p-4">
    {TECHNOLOGIES.map(category => (
      <div>
        <h2 class="text-2xl opacity-80 mb-6 text-center">{category.title}</h2>
        <nav class="flex flex-wrap justify-center gap-4">
          {category.items.map(item => (
            <Tecnos_icons title={item.title}>
              <item.icon class="w-12 h-12" />
            </Tecnos_icons>
          ))}
        </nav>
      </div>
    ))}
  </div>
</div>