<div class="max-w-4xl mx-auto text-center">
 <p class="text-lg leading-relaxed mb-8">No dudes en comunicarte conmigo para solicitar mis servicios o resolver cualquier duda que tengas.</p>
    <div class="mt-8">
      <p class="text-gray-300">Horarios de atención:</p>
      <p class="text-lg font-medium mb-8">Todos los días: 8:00 AM - 7:30 PM</p>
    </div>

    <div class="flex flex-col sm:flex-row justify-center gap-6">
      <!-- Botón de WhatsApp -->
      <a 
        href="https://wa.me/+5353118193?text=Hola,%20deseo%20solicitar%20tus%20servicios." 
        class="flex items-center justify-center bg-green-500 text-white px-6 py-3 rounded-lg shadow-md hover:bg-green-600 transition duration-300"
        target="_blank"
        rel="noopener noreferrer"
      >
        Enviar mensaje por WhatsApp
      </a>

      <!-- Botón de Llamada -->
      <a 
        href="tel:+<TU_NUMERO>" 
        class="flex items-center justify-center bg-blue-500 text-white px-6 py-3 rounded-lg shadow-md hover:bg-blue-600 transition duration-300"
      >
        Llamar Ahora
      </a>
    </div>
    <!-- Formulario de Contacto -->
    <form action="mailto:thejasondev13@gmail.com" method="POST" enctype="text/plain" class="mt-12 bg-black p-6 rounded-lg shadow-lg">
      <h3 class="text-2xl font-semibold mb-4">Formulario de Contacto</h3>
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-300 mb-2">Nombre</label>
        <input type="text" id="name" name="name" required class="w-full px-4 py-2 bg-white text-black rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
      </div>
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-300 mb-2">Correo Electrónico</label>
        <input type="email" id="email" name="email" required class="w-full px-4 py-2 bg-white text-black rounded focus:outline-none focus:ring-2 focus:ring-blue-400">
      </div>
      <div class="mb-4">
        <label for="message" class="block text-sm font-medium text-gray-300 mb-2">Mensaje</label>
        <textarea id="message" name="message" rows="4" required class="w-full px-4 py-2 bg-white text-black rounded focus:outline-none focus:ring-2 focus:ring-blue-400"></textarea>
      </div>
      <button type="submit" class="w-full px-6 py-3 bg-green-500 text-white font-medium rounded hover:bg-green-600 transition focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-2">
        Enviar Mensaje
      </button>
    </form>
  </div>