<section>
<p>
    Me llamo Juan Pietro Bonacossa, tengo 20 años y soy de Tucumán, Argentina. Estudio la Tecnicatura Universitaria en Programación en la UTN FRT (Universidad Tecnológica Nacional, Facultad Regional Tucumán). 
</p>
<br>
<p>
    Siempre estoy buscando oportunidades para crecer como profesional y prepararme para el mundo laboral.
</p>
<br>
<p>
    Estudie Ingles en Aticana y obtuve un nivel B2. Me apasiona el mundo del desarrollo de videojuegos, y en mi tiempo libre, aprendo tecnologías como Unity y Godot.
</p>
<br>
<p>
    Todos los días continúo desarrollando mis habilidades como programador Full-Stack, participando en proyectos y haciendo cursos que me permitan aprender y crecer como desarrollador. 
</p>
</section>