<p>
    Tengo 20 años, soy de Tucumán, Argentina 🧉. Tengo una pasión insaciable por la tecnología y el desarrollo de software. 
    Actualmente estoy cursando la Tecnicatura Universitaria en Programcion en la Universidad Tecnologica Nacional.
</p>
<p>
    Mi objetivo es aprender y mejorar constantemente, participando en proyectos innovadores que me permitan ampliar mis conocimientos y aportar soluciones creativas y efectivas.
</p>
<p>

</p>