<header class="flex justify-center items-center mx-auto py-5 sticky top-0 w-full xl:w-[1120px] z-10">

    <nav class="flex flex-wrap justify-center items-center px-3 font-bold rounded-full text-white/80 bg-black/80">
        <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-sm lg:text-2xl" href="#top" aria-label="Inicio">Inicio</a>
        <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-sm lg:text-2xl" href="#tecnologias" aria-label="Tecnologías">Tecnologías</a>
        <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-sm lg:text-2xl" href="#proyectos" aria-label="Proyectos">Proyectos</a>
        <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-sm lg:text-2xl" href="#servicios" aria-label="Servicios">Servicios</a>
        <a class="hover:bg-white/10 rounded-full px-3 py-1 transition text-base md:text-sm lg:text-2xl" href="#contacto" aria-label="Contacto">Contacto</a>
    </nav>
</header>
